<div class="{{column}}">
    <div class="half-width-component parent-bg-black {{colorclass}} revealUp">
        <div class="border"></div>
        <div class="hw-text-container">
            <p class="hw-eyebrows copy-4">{{eyebrow}}</p>
            <a href="{{linking}}">
            <h2 class="hw-heading">{{heading}}</h2>
            </a>
        </div>
        <a href="{{linking}}" class="hidden-xs">
	        <p class="hw-description" ng-transclude></p>
        </a>

        <div class="hidden-xs hw-cta-wrapper">
            <a class="btn btn-default btn-sm" href="{{linking}}">{{btnlbl}}</a>
        </div>
    </div>
</div>